@import '@/assets/styles/variables';

.listHeader {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  width: 786px;

  @media (max-width: 1300px){
    width: 100%;
  }
}