@import '@/assets/styles/variables';

.sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 49px 32px;

  @media (max-width: 1300px){
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px){
    grid-template-columns: 1fr;
  }
}