@import '@/assets/styles/variables';

.header {
  background: $grey;
  color: $white;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
}

.logo {
  font-size: 36px;
  font-weight: 600;
}