// colors

$grey: #CCCCCC;
$lightgrey: #F7F6F6;
$darkgrey: #C4C4C4;
$white: #FFFF;

$text-darkness: #000000;
$text-dark: #050505;
$text-light: #888888;

// font sizes

$font-xl: 36px;
$font-l: 24px;
$font-m: 18px;
$font-s: 14px;